html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'lato';
  }
  
  .register-option-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin-top: -5%;
  }

  .nav-item {
    font-weight: bolder;
  }
  
  .center {
    text-align: center;
    padding: 50px;
  }
  
  .buttons {
    margin-top: 30px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  button:hover {
    background-color: #0062cc;
  }

  .navbar-brand {
    margin-right: 3%;
    font-weight: bolder;
   }

  .container-fluid {
    margin-bottom: 10px;
  }

  .card {
    max-width: 80%;
    border-radius: 1rem;
    font-size: x-large;
    padding-left: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  }

  .card-title {
    flex: 0 0 30%;
    font-weight: bolder;
  }

  .card-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 60%;
    margin-right: 20px;
  }
  
  .title-container {
    flex: 0 0 33%;
    display: flex;
    /* justify-content: space-between;
    margin-right: 180px; */
  }

  .title-label {
    /* display: inline; */
    font-weight: bold;
  }
  
  .title-value {
    margin-left: 10px;
  }
  
  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .your-bid-container {
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }
  
  .your-bid-container label {
    margin-right: 10px;
  }

  .your-bid-container > input {
    width: 30%;
  }

  .your-bid-button {
    margin-left: 2%;
  }

  .empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .player-contract-bid-container, .contract-bid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .navbar {
    border-radius: 0 0 10px 10px;
    padding-top: 10px;
    margin-bottom: 5%;
  }
  
  